php_value display_errors 1
php_value date.timezone "America/New_York"

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:CF-Visitor} !{"scheme":"https"}
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]